html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: #ffffff; /* fona krāsa visam aizmugurē*/
  background-image: linear-gradient(red, yellow, blue);
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #4ADEDE;
  margin-top: 0px;
  display: flex;
  justify-content: space-around;
  margin-left: 130px;
  height: 50px;
}

.topnav a {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: left;
  color: #1E2F97;
  text-decoration: none;
  font-size: 20px;
}

.topnav a:hover {
  background-color: #ffffff;
  color: #1E2F97;
  transition: background-color 0.2s ease;
}

.topnav a.active {
  background-color: #797EF6;
  color: #ffffff;
}

.sidebar {
  height: 100%;
  width: 130px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #4ADEDE;
}

.sidebar a {
  padding: 10px;
  text-decoration: none;
  font-size: 30px;
  color: #1E2F97;
  display: block;
}

.sidebar a:hover {
  background-color: #797EF6;
  color: #ffffff;
  transition: background-color 0.2s ease;
}

main {
  margin-left: 130px;
  padding: 0px 8px;
}

footer {
  background-color: #4ADEDE;
  color: #1E2F97;
  text-align: center;
  padding: 10px;
  margin-top: 20px;
  bottom: 0;
  width: 100%;
}

button {
  background-color: #797EF6;
  color: #ffffff;
  border: #1E2F97;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  margin-bottom: 30px;
  cursor: pointer;
  display: inline-block;
  transition: background-color 0.2s ease;
}

button:hover {
  background-color: #1E2F97;
  color: #ffffff;
}

h1 {
  font-family:'Courier New', Courier, monospace;
  font-size: 50px;
}

p {
  color: #1E2F97; /* paragrāfa krāsa */
  font-size: 20px;
}

#saturs { /* # izmanto, lai aprakstītu id */
  background-color: #4ADEDE;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#saturs p { /* var atsevišķi nomainīt krāsu */
  color: #1E2F97;
}

#saturs img {
  display: block; /* iedomāta kastīte */
  border-radius: 10px; /* malu noapaļošana */
  margin: 0 auto; /* centrēt attēlu */
}

#saturs iframe {
  display: block;
  margin: 0 auto;
}

#tabula {
  background-color: #4ADEDE;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* ēnas */
}

#tabula table {
  width: 100%;
  border-collapse: separate;
  background-color: #ffffff;
  border: 3px solid #797EF6;
  text-align: center;
  padding: 10px;
}

#tabula tr:nth-child(1) { /* tr nozīmē atbulas rindas */
  background-color: #1E2F97;
  color:white
}

#tabula tr:nth-child(3) {
  background-color: #1E2F97;
  color:white
}

#canva {
  background-color: #4ADEDE;
  padding: 30px;
  margin-top: 30px;
  margin-bottom: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
}

#saturs p {
  color: #1E2F97;
  font-size: 20px;
}